<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
<div class="collect_whole">
  <p class="bold_title">수거 페이지</p>

  <div class="container">
    <div class="title text-success">품목을 선택해주세요.</div>

    <input type="text" class="form-control search-box" placeholder="여기로 검색하세요!">

    <div class="item-grid">
      <div class="item-btn">캐비닛</div>
      <div class="item-btn">파일 캐비닛</div>
      <div class="item-btn">문짝</div>
      <div class="item-btn">거울</div>
      <div class="item-btn">옷걸이 행거</div>
      <div class="item-btn">액자</div>
      <div class="item-btn">가방류</div>
      <div class="item-btn">항아리</div>
      <div class="item-btn">쓰레기통</div>
      <div class="item-btn">방충망</div>
      <div class="item-btn">커튼</div>
      <div class="item-btn">커튼봉</div>
      <div class="item-btn">빨래 건조대</div>
      <div class="item-btn">다림질판</div>
      <div class="item-btn">이불</div>
      <div class="item-btn">개집</div>
    </div>

    <button class="btn btn-secondary select-btn">품목을 선택하세요</button>
  </div>




</div>
</html>