@charset "UTF-8";
.header_a{
    display: none;
}
.main_inner{
    margin-top: 0;
}
.index_whole{
    width: 100%;
    height: auto;
}
.index_whole *{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: rgb(var(--lite-black));
    font-style: normal;
    text-decoration: none;
    outline: 0;
    word-break: auto-phrase;
    background-color: var(--bg-none);
}
.index_top{
    position: relative;
    width: 100vw;
    min-height: 250px;
    height: 25vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
.index_top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.index_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(var(--real-black),0.7);
}
.index_title{
    position: absolute;
    width: max-content;
    max-width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.index_title p{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
    color: rgb(var(--real-white));
    text-align: center;
}
.index_title p:first-child{
    color: rgb(var(--lite-gray));
}
.index_title h1{
    font-size: 36px;
    line-height: 48px;
    color: rgb(var(--lite-yellow));
    font-family: 'Tenada';
}
.index_title span{
    display: block;
    min-width: 20px;
    width: 20px;
    height: 2px;
    background-color: rgba(var(--lite-yellow),0.7);
    margin: 0 5px;
}
.index_title p span{
    min-width: auto;
    width: auto;
    height: auto;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    background-color: var(--bg-none);
    color: #fff4d5;
    margin: 0 10px;
}
.title_flex{
    width: 100%;
    height: auto;
    margin: 10px auto 0 auto;
}
.title_flex p{
    color: rgb(var(--lite-gray));
}
p.index_subtitle{
    position: relative;
    width: max-content;
    font-size: 20px;
    line-height: 29px;
    font-family: 'Tenada';
}
p.index_subtitle span{
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    bottom: 6px;
    left: 0;
    background: rgba(var(--origin-yellow), 0.7);
    z-index: -1;
}
.index_common{
    width: 100%;
    max-width: 860px;
    height: auto;
    margin: 80px auto 0 auto;
}
.index_pic .pic_flex{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.pic_box{
    position: relative;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
}
.pic_box img{
    width: calc(100% - 100px);
    max-width: 350px;
    height: auto;
    background-size: contain;
    border: 7px solid #fff9e9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(var(--real-black),0.05);
}
.pic_box img + img{
    position: absolute;
    top: 50px;
    left: 50px;
}
.pic_box + p{
    width: max-content;
    max-width: 100%;
    margin: 70px auto 0 auto;
}
/*수거 버튼*/
.pic_btn{
    width: calc(100% - 350px);
    height: auto;
    margin: 20px 0 0 auto;
    animation: 3s slideup;
}
@keyframes slideup{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.pic_btn a{
    display: block;
    min-width: 150px;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid var(--bg-none);
    border-radius: 5px;
    margin: 0;
}
.pic_btn a.pic_register{
    background-color: rgba(var(--lite-yellow),0.5);
}
.pic_btn a.pic_money{
    border-color: rgb(var(--lite-yellow));
    background-color: rgb(var(--real-white),0.5);
}
.pic_btn a + a{
    margin-left: 15px;
}
.pic_btn a:hover{
    font-weight: 500;
    color: rgb(var(--deep2-yellow));
}
.pic_btn a.pic_register:hover{
    background-color: rgb(var(--lite-yellow));
}
.pic_btn a.pic_money:hover{
    background-color: rgba(var(--lite-yellow),0.1);
}
/*info*/
.info_whole{
    position: relative;
    width: 100vw;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    background-color: rgba(var(--lite-yellow),0.1);
    padding: 50px 0;
}
.info_whole .index_common{
    margin-top: 0;
}
.info_whole p + p{
    margin-top: 15px;
}
@media (min-width: 900px){
    .index_pic .pic_flex{
        display: flex;
        flex-wrap: wrap;
    }
    .pic_box + p{
        margin-top: 0;
    }
    .pic_btn,
    .pic_btn a{
        margin-top: 0;
    }
}
@media (max-width: 899px){
    .pic_btn{
        width: 100%;
    }
}
@media (max-width: 359px){
    .index_title p{
        font-size: 15px;
        line-height: 27px;
    }
    .index_title p span{
        font-size: 18px;
        line-height: 27px;
    }
    .title_flex{
        margin: 5px auto;
    }
    .title_flex p{
        opacity: 0;
    }
}