<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
<div class="collect_whole">
  <p class="bold_title">수거 페이지</p>

  <div class="container">
    <div class="title text-success">품목을 선택해주세요.</div>

    <input type="text" class="form-control search-box" placeholder="여기로 검색하세요!">

    <div class="item-grid">
      <div th:each="item : ${items}" class="item-btn" th:id="${item.itemName}" th:data-price="${item.price}" th:text="${item.itemNameKor}">
      </div>
    </div>

    <button class="btn btn-secondary select-btn">추가할 품목을 선택하세요</button>

    <div id="selectedItemsContainer" class="mt-4"></div> <!-- 추가된 품목들이 나올 곳 -->

    <div class="total-price-container mt-4 text-end d-flex justify-content-end">
      <p class="fw-bold mb-0 mr-3" style="font-size:24px; margin-right:20px;">총 금액: <span id="orderTotalPrice">0원</span></p>
      <button class="btn btn-primary fw-bold" id="collectBtn">수거 신청</button>
    </div>

  </div>

</div>

</html>